.contactsBlock {
    background-color: #da94ef;
}

.contactsContainer {
    background-color: #537786;
    align-items: center;
    flex-direction : column;
    justify-content: center;
}

.title {
    background-color: #fff;
}

.contacts{
    border: 1px solid white;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contacts input, .contacts textarea {
    width: 100%;
}

@media screen and (max-width: 360px) {
    .contacts {
        width: 100%;
    }
}