@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skill {
  width: 250px;
  @include flex(column);
  text-align: center;
  padding: 20px;

  .icon {
    width: 80px;
    height: 80px;
    @include flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease-in-out;
    }

    //background-color: $textMainColor;
  }

  .title {
    margin: 10px 0;
  }

  .description {
    color: $descriptionColor;
  }

}


