.skillsBlock {
    min-height: 100vh;
    background-color: #212529;
    padding: 100px 0;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;
    }
}
@media screen and (min-width: 1265px) {
    .skills {
        justify-content: center;
    }
}