@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins";

.skillsBlock {
  min-height: 100vh;
  background-color: $textBgDarkerColor;
  padding: 100px 0;

  .skillsContainer {

    @include flex(column, flex-start);

    .skills {
      margin: 30px 0 0 0;
      width: 100%;
      @include flex($justifyContent: space-between) ;

      @media screen and (max-width: 629px) {
        justify-content: center;
      }
      @media screen and (min-width: 1265px) {
        justify-content: center;
      }
    }
  }
}




