@import "../common/styles/sass/variables";

.mainBlock {
  margin-top: 40px;
  padding: 100px 0 100px 0;
  background-color: $textBgLighterColor;
  position: relative;

  .mainContainer {
    align-items: center;
    justify-content: center;
    background-color: $textBgLighterColor;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: flex-start;
    }
    @media screen and (max-width: 375px) {
      display: flex;
      flex-direction: column;
    }

    .greeting {
      width: 300px;
      margin-bottom: 40px;
      
      @media screen and (max-width: 375px) {
        width: auto;
        text-align: center;
      }

      .greenText {
        color: $accentColor;
        text-transform: uppercase;
      }
    }

    .photo {
      position: relative;
      z-index: 0;

      .image {
        height: 400px;
        width: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../assets/avatar2.jpeg");
        transition: .5s;


        @media screen and (max-width: 600px) {
          height: 360px;
          width: 260px;
          transition: .5s;
        }
        @media screen and (max-width: 420px) {
          height: 260px;
          width: 160px;
          transition: .5s;
        }

        &::before {
          content: '';
          border: 3px solid $accentColor;
          height: 110%;
          width: 105%;
          z-index: -1;
          left: 15px;
          top: -15px;
          position: absolute;

        }
      }
    }
  }
}










