.mainBlock {
    height: 100vh;
    background-color: #343a40;
}
.mainContainer {
    align-items: center;
    justify-content: space-evenly;
    background-color: #343a40;
}


.greeting {
    width: 300px;
    /*background-color: #fff;*/
}
.greenText {
    color: #20c997;
}

.photo {
    width: 300px;
    height: 400px;
    border: 1px solid white;
}