@import "../styles/sass/variables";
@import "../styles/sass/mixins";

.title {
  margin-bottom: 20px;
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: $accentColor;
    margin: 0 auto;
  }

  & h2 {
    font-family: 'Poppins', sans-serif;
    @include text(600, 1.5);
    //font-weight: 600;
    //line-height: 1.5;
    margin: 0 0 10px 0;
    color: $textMainColor;

    text-transform: capitalize;
  }
}



