.nav {
    border: 1px solid;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav a {
    color: #fff;
}

@media screen and (max-width: 221px){
    .nav {
        justify-content: space-around;
    }
}