$textMainColor: #fff;
$accentColor: #20c997;
$descriptionColor: rgba(255, 255, 255, 0.5);
$textBgDarkerColor: #212529;
$textBgLighterColor: #343a40;
$hoverLighterColor: rgba(255, 255, 255, 0.9);
$hoverDarkerColor: rgba(255, 255, 255, 0.73);
